<?xml version="1.0"?>

<model>
  <name>Ellipsoid for NMPC</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
<!-- <sdf version="1.5">model.sdf</sdf> -->

  <author>
    <name>Nursultan</name>
    <email>Nureke@email.com</email>
  </author>

  <description>
	Ellipsoid.
  </description>

</model>
